@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
:root {
  --bs-primary-v2:#ea7822;
  --bs-primary-bg-v2: linear-gradient(to right, #ea7822, #7f8386, #35c2d6);
  --bs-primary-custom: #ea7822;
}
* {
  font-family: "Tajawal", sans-serif;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
.navbar-brand img {
  width: 55px;
}
.container-sm {
  min-height: 100vh;
  padding-bottom: 150px;
  /* padding-bottom: 270px; */
}
.text-primary-2 {
  color: var(--bs-primary-v2);
}

.bg-image {
  filter: blur(40px);
}
.bg-image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.card {
  background-clip: padding-box;
  box-shadow: 0 0.25rem 1.125rem rgba(75, 70, 92, 0.1);
  min-width: 100%;
  min-height: 100%;
  border: 0 !important;
  background: rgb(255 255 255 / 60%) !important;
}
.description {
  max-width: 560px;
}
.text-muted {
  font-size: 14px;
}
@media screen and (min-width: 574px) {
  .bg-sm-light {
    background: rgb(201 229 247 / 40%) !important;
    filter: blur(0);
  }
}
@media screen and (max-width: 767px) and (min-width: 375px) {
  .col-xs-6 {
    flex: 0 0 auto;
    width: 50% !important;
  }
  .container-sm {
    padding-bottom: 220px;
  }
}
@media screen and (max-width: 374px) {
  .container-sm {
    padding-bottom: 280px;
  }
}
.text-primary-custome {
  color: var(--bs-primary-custom);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.card .learn-more {
  background: var(--bs-primary-bg-v2);
  visibility: hidden;
  opacity: 0;
  bottom: -100%;
  transition: all 0.3s ease-in-out;
}
.card .icon svg,
.card .icon i {
  font-size: 45px;
  stroke: var(--bs-primary-custom);
  color: var(--bs-primary-custom);
  position: relative;
  transition: all 0.3s ease-in-out;
}
/* card hover event start */
.card:hover .icon svg,
.card:hover .icon i {
  stroke: white;
  color: white;
}
.card:hover .text-primary-custome {
  color: white;
}
.card:hover .learn-more {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
/* card hover event end */

.description .text-title {
  color: var(--bs-primary-v2);
}
/* skrolll cstome */
.container-sm.custome::-webkit-scrollbar {
  width: 3px;
}

.container-sm.custome::-webkit-scrollbar-track {
  background: #eee;
}

.container-sm.custome::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 30px;
  transition: 2.5s all ease-in-out;
}

.container-sm.custome::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

@media screen and (min-width: 993px) {
  .img-desc {
    display: block;
  }
  .img-our {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .img-desc {
    display: none;
  }
  .img-our {
    display: block;
  }
}
.dropdown-item {
  transition: 0.3s all ease-in-out;
}
.dropdown .dropdown-menu.show {
  display: flex;
  flex-direction: column;
}
.dropdown-item.active,
.dropdown-item:active {
  background: var(--bs-primary-v2) !important;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--bs-primary-v2) !important;
}
/* custome footer start */
footer ul li,
footer .group-items li {
  margin-left: 5px !important;
}
footer ul li:nth-last-child(1),
footer .group-items li:nth-last-child(1) {
  margin-left: 0 !important;
}
footer .group-items li {
  margin-bottom:5px ;
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary-v2) !important;
  --bs-btn-border-color: var(--bs-primary-v2) !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-primary-v2) !important;
  --bs-btn-hover-border-color: var(--bs-primary-v2) !important;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-primary-v2) !important;
  --bs-btn-active-border-color: var(--bs-primary-v2) !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-primary-v2) !important;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-primary-v2) !important;
  --bs-gradient: none;
}

/* custome footer end */

/* page banks start */
.item-bank .image {
 background: rgb(240 239 239) ;
  padding: 20px ;
  max-width: 540px;
  margin: auto;
}
.item-bank .image img {
  max-width: 550px;
}
/* page banks end */